@font-face {
    font-family: 'Roboto', sans-serif;
}
body {
	background-color: black ;
	color: white ;
	font-family: Roboto;
	text-align: center;
}
h2 {
	text-align: center;
}
/*CLOCK STYLE*/
#clock{
	text-align: center;
    font-size: 90px;
}
/*TEMPERATURE STYLE*/
#temperature {
	text-align: center;
	font-size: 90px;
}